* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}
html {
  overflow-y: scroll;
}
a {
  text-decoration: none;
  color: inherit;
}
:root {
  --bg-primary: #fff;
  --bg-secondary: #f0f2f5;
  --bg-third: #e4e6eb;
  --bg-forth: #f0f2f5;
  --bg-fifth: #888888;
  --color-primary: #050505;
  --color-secondary: #65676b;
  --divider: #ced0d4;
  --dark-bg-primary: #18191a;
  --dark-bg-secondary: #242526;
  --dark-bg-third: #3a3b3c;
  --dark-color-primary: #242526;
  --dark-color-secondary: #b0b3b8;
  --blue-color: #ff3e13; 
  /* primary */
  --green-color: #42b72a;
  /* accent */
  /* secondary color : #ff3e13 */
  --light-blue-color: #e7f3ff;
  --border-color: #ccced2;
  --shadow-1: rgba(0, 0, 0, 0.2);
  --shadow-2: rgba(0, 0, 0, 0.1);
  --shadow-3: rgba(0, 0, 0, 0.3);
  --shadow-inset: rgba(255, 255, 255, 0.5);
}


/* .dark {
  --bg-primary: #242526;
  --bg-secondary: #18191a;
  --bg-third: #3a3b3c;
  --bg-forth: #3a3b3c;
  --color-primary: #e4e6eb;
  --color-secondary: #b0b3b8;
}

.dark .blur {
  background: rgb(1, 1, 1,0.53);
}

.dark .hover1:hover, .dark .hover2:hover {
  background: var(--bg-fifth);
}

.dark .header-right .icon_dark img {
  filter: brightness(0) invert(1) !important}


  .dark .header-right svg {
    fill: white;
  }

  .dark .header-left img {
    filter:brightness(0) invert(1) !important;
  }

.dark .left_link_icon img {
  filter:brightness(0) invert(1) !important;

}

.dark .active_header svg {
  fill: var(--blue-color) !important;
}

.dark .active_header {
  background: var(--light-blue-color) !important;
}

.dark .active_header .circle_icon:hover {
  background: #888888;
}

.dark input[type= "text"] {
  color: #e4e6eb;
}

.dark .small_circle i, .dark .circle i {
  filter: invert(100%) !important;
}

.dark .post_action img {
  filter: invert(90%);
}

.dark .post_menu i, .dark .post_menu img {
  filter: invert(100%);
}

.dark .emoji_icon {
  filter: invert(95%);
}

.dark .comment_circle_icon:hover {
  background: #555;
}

.dark .box_privacy i, .dark .box_privacy img {
  filter: invert(90%);
}

.dark .emoji_icon_large:hover {
  filter: invert(0);
}
.dark .add_pics_wrap i {
 filter: invert(100%);
}

.dark .active_link:hover {
  background: var(--light-blue-color);
}

.dark .profile_circle i, .dark .edit-profile i {
  filter: invert(90%);
}

.dark .habit_profile_display_right .circle_icon svg {
  filter: invert(90%);

} */
/* buttons */
.blue_btn {
  border: none;
  outline: none;
  padding: 8.5px 12px;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background: var(--blue-color);
  cursor: pointer;
}

.light_blue_btn {
  border: none;
  outline: none;
  padding: 8.5px 12px;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background: var(--light-blue-color);
  cursor: pointer;
}
.gray_btn {
  border: none;
  outline: none;
  background: var(--color-secondary);
  padding: 8.5px 12px;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
}
.blue_btn,
.gray_btn span {
  transform: translateY(-1px);
}

.blur {
  position: fixed;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
  background: rgb(255, 255, 255, 0.768);
  z-index: 99;
}


/* ----------hover--------- */
.hover1:hover {
  background: var(--bg-secondary);
}

.hover2:hover {
  background: var(--bg-third);
}

.hover3:hover {
  background: #d4d6da3a;
}


/* ----------end hover--------- */

/* ----------card--------- */

.card {
  height: 500px;
  width: 500px;
  background-color: red;
}

/* ---------- end card--------- */


/* ----------Scrollbar--------- */
.scrollbar::-webkit-scrollbar {
  width: 8px;

}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #aeaeafa1;
  border-radius: 5px;
}

/* ----------end Scrollbar--------- */

/*---start Circles------*/
.small_circle {
  position: relative;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 11px;
  background: var(--bg-third);
  cursor: pointer;
}
/*---end Circles------*/



.filter_blue {
  filter: invert(39%) sepia(57%) saturate(200%) saturate(200%)saturate(200%) saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg) brightness(97%) contrast(96%) ;
}
.filter_white{
filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}